<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IInternalServiceContract" maxReceivedMessageSize="5000000" />
                <binding name="WSHttpBinding_IServerServiceContract" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/SEServerExtender/InternalService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInternalServiceContract"
                contract="ServiceReference.IInternalServiceContract" name="WSHttpBinding_IInternalServiceContract" />
            <endpoint address="http://localhost:8000/SEServerExtender/Server/ServerService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServerServiceContract"
                contract="ServerServiceReference.IServerServiceContract" name="WSHttpBinding_IServerServiceContract">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>