<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IInternalServiceContract" maxReceivedMessageSize="2000000000"/>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/SEServerExtender/InternalService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInternalServiceContract"
                contract="ServiceReference.IInternalServiceContract" name="WSHttpBinding_IInternalServiceContract">
                <identity>
                    <userPrincipalName value="Overlord\Joseph" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>