<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IInternalServiceContract" maxReceivedMessageSize="5000000" />
                <binding name="WSHttpBinding_IServerServiceContract" />
                <binding name="WSHttpBinding_IChatServiceContract" />
                <binding name="WSHttpBinding_IPluginServiceContract" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/SEServerExtender/Chat/ChatService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IChatServiceContract"
                contract="ChatServiceReference.IChatServiceContract" name="WSHttpBinding_IChatServiceContract" />
            <endpoint address="http://localhost:8000/SEServerExtender/Plugin/PluginService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPluginServiceContract"
                contract="PluginServiceReference.IPluginServiceContract" name="WSHttpBinding_IPluginServiceContract" />
            <endpoint address="http://localhost:8000/SEServerExtender/Server/ServerService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServerServiceContract"
                contract="ServerServiceReference.IServerServiceContract" name="WSHttpBinding_IServerServiceContract" />
            <endpoint address="http://localhost:8000/SEServerExtender/InternalService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInternalServiceContract"
                contract="ServiceReference.IInternalServiceContract" name="WSHttpBinding_IInternalServiceContract">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>